*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_20_18_19__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_20_18_19_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2020_11_20_18_19_[Default_Changelist]/shelved.patch
